{% extends "base.njk" %}

{% block title %}Users{% endblock %}

{% block content%}
  <form action="/getUsers" method="POST">
    <label for="name">Find by name:</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">Submit</button>
  </form>
    {{message}}
{% endblock %}