{% extends "base.njk" %}

{% block content%}
  <form action="/users" method="POST">
    <label for="name">Enter Your Name:</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">Submit</button>
  </form>
    {{ title}}
    {{message}}
{% endblock %}